@using Project.Models
@model List<CdActivity>

    @{
    ViewData["Title"] = "Coding Dojo Activities";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome to CD Activities</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Date & Time</th>
                <th scope="col">Duration</th>
                <th scope="col">Event Coordinator</th>
                <th scope="col">N Participants</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @{foreach (CdActivity cdactivity in Model){
            <tr>
                <td><a href="/cdactivities/@cdactivity.CdActivityId">@cdactivity.Title</a></td>
                <td>@cdactivity.Date.ToString("d") @@ @cdactivity.Time.ToString("t") </td>
                <td>@cdactivity.Duration @cdactivity.DurationUnit</td>
                <td>@cdactivity.Creator.Name</td>
                <td>@cdactivity.Guests.Count()</td>
                <td>
                    @if(@cdactivity.Creator.UserId == ViewBag.CurrentUser.UserId)
                    {
                    <form action="/cdactivities/@cdactivity.CdActivityId/destroy" method="post">
                        <button class="btn btn-secondary btn-sm">Delete</button>
                    </form>
                    }
                    else if(cdactivity.HasGuest(ViewBag.CurrentUser))
                    {
                    <form action="/cdactivities/@cdactivity.CdActivityId/unrsvp" method="post">
                        <button class="btn btn-secondary btn-sm">Leave</button>
                    </form>
                    }
                    else
                    {
                    <form action="/cdactivities/@cdactivity.CdActivityId/rsvp" method="post">
                        <button class="btn btn-secondary btn-sm">Join</button>
                    </form>
                    }
                </td>
            </tr>
            }}
        </tbody>
    </table>

    <!-- Basic Links -->
    <a href="/cdactivities/new" class="btn btn-link">New Activity</a>
    <a href="/logout">Log out</a>