@using Project.Models
@model User

@{
ViewData["Title"] = "User Details";
}

<div class="text-center">
    <h1 class="display-4">User Information</h1>
</div>

@* Detail User *@
<div class="container">
    <div class="row">
        <div class="border col-lg detail-idea">
            <p><span class="font-weight-bold">Name: </span>@Model.Name</p>
            <p><span class="font-weight-bold">Alias: </span>@Model.Alias</p>
            <p><span class="font-weight-bold">Email: </span>@Model.Email</p>
        </div>
    </div>
</div>

@* Likes details*@
<div class="container">
    <div class="row">
        <div class="post-details col-sm-6">
            <h4>@Model.Alias Post details:</h4>
            <p><span class="font-weight-bold">Total Number of Post:</span>@Model.Ideas.Count()</p>
            <p><span class="font-weight-bold">Total Number of Likes:</span>@Model.Likes.Count()</p>
        </div>

    </div>
</div>


@* Basic Links *@
<a href="/ideas" class="btn btn-link footer-button">Home</a>
<a href="/logout" class="btn btn-link footer-button">Log out</a>

